In [1]:
# 必要なライブラリをインポート
import pandas as pd

# ファイルのパスを指定
file_path = '1. employee.csv'  # アップロードされたファイルのパス

# CSVファイルをデータフレームに読み込む
df = pd.read_csv(file_path)

# データフレームの先頭5行を表示
print("データフレームの先頭:")
print(df.head())

# データの基本情報を表示（任意）
print("\nデータの基本情報:")
print(df.info())

データフレームの先頭:
   UNIQUE_ID               POSITION_TITLE                     DEPARTMENT  \
0          0  ASSISTANT DIRECTOR (EX LVL)    Municipal Courts Department
1          1            LIBRARY ASSISTANT                        Library
2          2               POLICE OFFICER  Houston Police Department-HPD
3          3            ENGINEER/OPERATOR  Houston Fire Department (HFD)
4          4                  ELECTRICIAN    General Services Department

   BASE_SALARY             RACE EMPLOYMENT_TYPE  GENDER EMPLOYMENT_STATUS  \
0     121862.0  Hispanic/Latino       Full Time  Female            Active
1      26125.0  Hispanic/Latino       Full Time  Female            Active
2      45279.0            White       Full Time    Male            Active
3      63166.0            White       Full Time    Male            Active
4      56347.0            White       Full Time    Male            Active

    HIRE_DATE    JOB_DATE
0  2006-06-12  2012-10-13
1  2000-07-19  2010-09-18
2  2015-02-03  2015-02-03
3  1982-02-08  1991-05-25
4  1989-06-19  1994-10-22

データの基本情報:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   UNIQUE_ID          2000 non-null   int64
 1   POSITION_TITLE     2000 non-null   object
 2   DEPARTMENT         2000 non-null   object
 3   BASE_SALARY        1886 non-null   float64
 4   RACE               1965 non-null   object
 5   EMPLOYMENT_TYPE    2000 non-null   object
 6   GENDER             2000 non-null   object
 7   EMPLOYMENT_STATUS  2000 non-null   object
 8   HIRE_DATE          2000 non-null   object
 9   JOB_DATE           1997 non-null   object
dtypes: float64(1), int64(1), object(8)
memory usage: 156.4+ KB
None