In [6]:
#!/usr/bin/env python
# -*- coding: utf-8 -*-

import sqlite3
import random

DB_NAME = 'cit-db-2025-game.db'
conn = sqlite3.connect(DB_NAME)
cur = conn.cursor()

# ===== character テーブル作成 =====
cur.execute("DROP TABLE IF EXISTS `character`;")
cur.execute("""
CREATE TABLE `character` (
    character_id   INTEGER PRIMARY KEY,
    player_id      INTEGER NOT NULL,
    character_name VARCHAR(20) NOT NULL,
    HP             INTEGER NOT NULL,
    MP             INTEGER NOT NULL,
    EXP            INTEGER NOT NULL
);
""")

# ===== データ投入 =====
characters = ['doraemon', 'akinator', 'golgo', 'begita', 'bikkuriko']
weights    = [10, 1, 1, 1, 1]

rows = []
for i in range(100):
    rows.append((
        i,
        random.randrange(0, 30),
        random.choices(characters, weights=weights)[0],
        random.randrange(1, 101),
        random.randrange(1, 101),
        random.randrange(1, 101)
    ))

cur.executemany("""
INSERT INTO `character`
(character_id, player_id, character_name, HP, MP, EXP)
VALUES (?, ?, ?, ?, ?, ?)
""", rows)

conn.commit()

# ===== DB / TABLE INFO =====
print("\n=== Database:", DB_NAME, "===")

# テーブル一覧
print("\n=== Tables ===")
cur.execute("SELECT name FROM sqlite_master WHERE type='table' ORDER BY name;")
tables = [t[0] for t in cur.fetchall()]
for t in tables:
    print("-", t)

# characterのみカラム表示
if "character" in tables:
    print("\n=== Columns in character ===")
    cur.execute("PRAGMA table_info(`character`);")
    for c in cur.fetchall():
        print(f"- {c[1]} ({c[2]})")

# 数件だけ表示
print("\n=== First 5 rows from character ===")
cur.execute("SELECT * FROM `character` LIMIT 5;")
for row in cur.fetchall():
    print(row)

cur.close()
conn.close()

=== Database: cit-db-2025-game.db ===

=== Tables ===
- character
- player

=== Columns in character ===
- character_id (INTEGER)
- player_id (INTEGER)
- character_name (VARCHAR(20))
- HP (INTEGER)
- MP (INTEGER)
- EXP (INTEGER)

=== First 5 rows from character ===
(0, 9, 'akinator', 58, 75, 22)
(1, 14, 'bikkuriko', 31, 73, 46)
(2, 9, 'doraemon', 61, 20, 85)
(3, 21, 'doraemon', 17, 41, 14)
(4, 14, 'doraemon', 35, 17, 32)